# Increase nofile ulimit on elastic beanstalk ec2 docker daemon.
#
files:
  "/etc/sysconfig/docker":
    mode: "000644"
    owner: root
    group: root
    content: |
      # This is the default /etc/sysconfig/docker file shipped with 
      # Docker running on 64bit Amazon Linux 2/3.4.1.
      #
      # A small change has been made to raise the nofile softlimit
      # imposed by the Docker daemon. Originally set to 1024. This config
      # raises that value to 4096.
      #
      # The max number of open files for the daemon itself, and all
      # running containers.  The default value of 1048576 mirrors the value
      # used by the systemd service unit.
      DAEMON_MAXFILES=1048576
      
      # Additional startup options for the Docker daemon, for example:
      # OPTIONS="--ip-forward=true --iptables=true"
      # By default we limit the number of open files per container
      OPTIONS="--default-ulimit nofile=4096:4096"

      # How many seconds the sysvinit script waits for the pidfile to appear
      # when starting the daemon.
      DAEMON_PIDFILE_TIMEOUT=10

container_commands:
  01_docker_restart:
    command: "systemctl restart docker"
