packages:
  rpm:
    amazon-ssm-agent: https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_386/amazon-ssm-agent.rpm
files:
  "/usr/local/sbin/run-docker-task":
    mode: 000770
    owner: root
    group: root
    content: |
      #!/bin/sh

      set -eu

      usage () {
          echo "Usage: $(basename "$0") <COMMAND>"
          echo
          echo "Run a command inside the first running Docker container."
          echo
          echo "  COMMAND        the command to run, e.g. 'hypothesis user admin myuser'"
          echo
      }

      if [ "$#" -lt 1 ]; then
          usage >&2
          exit 1
      fi


      # Fetch id of first running container
      CONTAINER_ID=$(docker ps --filter "status=running"  --format "{{.ID}}" | head -n1)

      if [ -z "$CONTAINER_ID" ]; then
          echo "Error: Cannot find a running container" >&2
          exit 1
      fi


      # Execute command
      docker exec "$CONTAINER_ID" "$@"
